.brand-logo {
  margin-left: 17px;
}

.top-nav {
  margin-bottom: 10px;
}

.top-story-img {
  width: 100%;
  max-height: 328px;
}

.top-story-title {
  margin: 0;
  display: inline-block;
}

.top-story-badge {
  float: left !important;
  margin-left: 0 !important;
}

.main-news-title {
  color: black;
  font-size: 1.2rem !important;
  background: rgba(0, 0, 0, 0.9);
}

.main-news-image {
  height: 300px;
}

.card-content {
  height: 140px;
}

footer {
  text-align: center;
  background-color: rgb(238, 110, 115);
  margin: 0;
  padding: 10px;
}

footer p {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

/* media queries */
@media only screen and (max-width: 800px) {
  .brand-logo {
    margin-left: 0px;
  }

  .top-story-title {
      font-size: 2.1rem;
  }

  .main-news-title {
    padding: 10px !important;
  }
}

@media only screen and (max-width: 490px) {
  .brand-logo {
    font-size: 1.4rem !important;
  }
}


@media only screen and (min-width: 1050px) {
  .top-story-container {
    margin-top: 50px;
  }
}